<!-- =================================================================== -->
<!-- VALIDATION TABLES ================================================= -->
<!-- =================================================================== -->
<table class="table">
  <tr>
    <th>Valid Card?</th>
    <th>Detection Card Type</th>
  </tr>
  <tr>
    <td>
      {{userForm.ccNumber.$valid | yesNo}}
    </td>
    <td>
      {{userForm.ccNumber.$ccType || 'Unknown'}}
    </td>
  </tr>
</table>
<table class="table">
  <tr>
    <th>Valid CVC</th>
  </tr>
  <tr>
    <td>
      {{userForm.ccCvc.$valid | yesNo}}
    </td>
  </tr>
</table>
<table class="table">
  <tr>
    <th>Valid Month?</th>
    <th>Valid Year?</th>
  </tr>
  <tr>
    <td>
      {{userForm.ccExpMonth.$valid | yesNo}}
    </td>
    <td>
      {{userForm.ccExpYear.$valid | yesNo}}
    </td>
  </tr>
</table>
<div class="row">
  <div class="col-xs-3">
    <h3>Form</h3>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td ng-class="{ success: userForm.$valid, danger: userForm.$invalid }">Valid</td>
        </tr>
        <tr>
          <td ng-class="{ success: userForm.$pristine, danger: !userForm.$pristine }">Pristine</td>
        </tr>
        <tr>
          <td ng-class="{ success: userForm.$dirty }">Dirty</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-xs-3">
    <h3>Name</h3>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td ng-class="{ success: userForm.firstname.$valid, danger: userForm.firstname.$invalid }">Valid</td>
        </tr>
        <tr>
          <td ng-class="{ success: userForm.firstname.$pristine, danger: !userForm.firstname.$pristine }">Pristine</td>
        </tr>
        <tr>
          <td ng-class="{ success: userForm.firstname.$dirty }">Dirty</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-xs-3">
    <h3>Username</h3>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td ng-class="{ success: userForm.lastname.$valid, danger: userForm.lastname.$invalid }">Valid</td>
        </tr>
        <tr>
          <td ng-class="{ success: userForm.lastname.$pristine, danger: !userForm.lastname.$pristine }">Pristine</td>
        </tr>
        <tr>
          <td ng-class="{ success: userForm.lastname.$dirty }">Dirty</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-xs-3">
    <h3>Email</h3>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td ng-class="{ success: userForm.email.$valid, danger: userForm.email.$invalid }">Valid</td>
        </tr>
        <tr>
          <td ng-class="{ success: userForm.email.$pristine, danger: !userForm.email.$pristine }">Pristine</td>
        </tr>
        <tr>
          <td ng-class="{ success: userForm.email.$dirty }">Dirty</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-xs-3">
    <h3>County</h3>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td ng-class="{ success: userForm.county.$valid, danger: userForm.county.$invalid }">Valid</td>
        </tr>
        <tr>
          <td ng-class="{ success: userForm.county.$pristine, danger: !userForm.county.$pristine }">Pristine</td>
        </tr>
        <tr>
          <td ng-class="{ success: userForm.county.$dirty }">Dirty</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-xs-3">
    <h3>City</h3>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td ng-class="{ success: userForm.city.$valid, danger: userForm.city.$invalid }">Valid</td>
        </tr>
        <tr>
          <td ng-class="{ success: userForm.city.$pristine, danger: !userForm.city.$pristine }">Pristine</td>
        </tr>
        <tr>
          <td ng-class="{ success: userForm.city.$dirty }">Dirty</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-xs-3">
    <h3>Address</h3>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td ng-class="{ success: userForm.address.$valid, danger: userForm.address.$invalid }">Valid</td>
        </tr>
        <tr>
          <td ng-class="{ success: userForm.address.$pristine, danger: !userForm.address.$pristine }">Pristine</td>
        </tr>
        <tr>
          <td ng-class="{ success: userForm.address.$dirty }">Dirty</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
</div>
</div>
</div>
